    <body>
        <p class=created>
            <%= flash[:notice] %>
        </p>
        
        <div class="flex-container">
            <strong>Title:</strong>
            <p id="book-title"><%= @book.title %></p>
        </div>
            <div class="flex-container">
            <strong>Body:</strong>
            <p id="book-body"><%= @book.body %></p>
        </div>
        <%= link_to "Edit", edit_book_path(@book.id), class: "vertical-line" %>
        <%= link_to "Back", books_path %>
    </body>
